<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style/NIGS.css">
		<script type="text/javascript" src="scripts/jquery-1.5.2.js"></script>
		<script type="text/javascript">
		$(function(){
			$("button").click(function(){
				$("img").hide();
				});
		});
		</script>
		<title>Heart Angela Canteen Delivery System</title>
	</head>
	<body>
		<div class="center">
		<img src="images/Untitled-1.jpg" alt="Heart Angela Canteen Delivery System"/>
		<button type="button">Next</button>
		</div>
	</body>
</html>